header {
    margin-bottom: 5px;
}

.title {
    text-align: center;
}

/* HERO STYLES BEGIN*/
.hero div {
    margin-top: 5px;
}

.hero {
    background-image: url("../images/hero-banner.jpg");
    background-position: center;
    background-size: cover;
}

.hero .input,
.select {
    width: auto;
    margin: 0px 25px;
}

.hero .button {
    width: 500px;
}

#map {
    height: 700px;
    width: 500px;
}